/** --------------------------- ESTILOS GENERALES --------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@200;300;400;500&display=swap');

* {
    margin:0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

header {
    width: 100;
    margin: auto;
    display: flex;
    border-bottom: 2px solid #FF4000;
}
